.table-wrap {
    &--default {
        overflow-x: visible;
    }
    &--scroll {
        overflow-x: auto;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        .table {
            min-width: 640px;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--fs-sm);
    th,td {
        border: 1px solid color-mix(in srgb, var(--color-border) 26%, transparent);
        padding: 12px 16px;
        text-align: left;
        vertical-align: top;
    }
    th {
        font-weight: 500;
        white-space: nowrap;
        color: color-mix(in srgb, var(--color-text) 90%, transparent);
        background-color: color-mix(in srgb, var(--color-text) 5%, transparent);
    }
    td {
        color: color-mix(in srgb, var(--color-text) 75%, transparent);
    }
}
