@use "@/styles/mixins" as mixins;

.page-hero {
    &__title {
        position: relative;
        font-size: var(--fs-xxl);
        font-weight: 300;
        letter-spacing: 0.3em;
        color: color-mix(in srgb, var(--color-text), transparent 10%);
        line-height: 1;
        padding-bottom: 16px;
        @include mixins.pc {
            font-size: var(--fs-xxl);
        }
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80px;
            height: 1px;
            background-color: var(--color-icon-accent);
        }
    }
    &__lead {
        margin-top: 20px;
        font-size: var(--fs-sm);
        color: color-mix(in srgb, var(--color-text), transparent 60%);
    }}